// Solarized color theme
$solarized-base-00: #657b83;
$solarized-base-01: #586e75;
$solarized-base-02: #073642;
$solarized-base-2: #eee8d5;
$solarized-base-3: #fdf6e3;

$solarized-red: #dc322f;
$solarized-yellow: #b58900;
$solarized-green: #859900;
$solarized-cyan: #2aa198;

// Color scheme
$page-bg-color: $solarized-base-3;
$form-bg-color: $solarized-base-3;
$toolbar-base-color: $solarized-base-00;
$confirm-color: $solarized-green;
$text-color: $solarized-base-00;

// Dimentions
$default-padding: 13px;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

.placeholder {
  background-color: desaturate($page-bg-color, 60%);
}

.company-name-label {
  @extend .x-title;
  color: $text-color;
}

.summary-panel {
  margin: $default-padding;
  .critical { color: $solarized-red; }
  .warning { color: $solarized-yellow; }
  .protected { color: $solarized-cyan; }
}

.summary-entry {
  text-align: center;
  background-color: $solarized-base-2;
  padding: $default-padding;
  
  &.first-entry-portrait {
    @include border-left-radius($form-fieldset-radius);
  };
  
  &.last-entry-portrait {
    @include border-right-radius($form-fieldset-radius);
  };
  
  &.first-entry-landscape {
    @include border-top-radius($form-fieldset-radius);
  };
  
  &.last-entry-landscape {
    @include border-bottom-radius($form-fieldset-radius);
  };
  
  
  .label {
    font-size: .6em;
  }
  
  .count {
    font-size: 1.8em;
    font-weight: bold;
  }
}

